.idea
records/IMDB-MULTI/TrailInfo.json
records/Mutagenicity/TrailInfo.json
records/NCI1/TrailInfo.json
records/NCI109/TrailInfo.json
records/PROTEINS/TrailInfo.json
records/REDDIT-MULTI-12K/TrailInfo.json
